# Patterns of intentionally untracked files that Git should ignore

# Virtual Python Environment builder
.venv/
.virtualenv/

# Python compiled files
*.pyc

# Development user data (settings, database, media, search index)
settings.py
database.sqlite
media/
whoosh_index/

# Package building
*.egg-info
build/
dist/

# Miscellaneous
*.swp
*~
.DS_Store
versiontools*
