# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/
.venv/

# Local user data (settings, database, media, search index, static files)
personal_data/*

# Package building
*.egg-info
build/
dist/

# Miscellaneous
*.swp
*~
private/
