include AUTHORS LICENSE README.rst requirements.txt
graft openslides_votecollector
recursive-exclude openslides_votecollector *.pyc
recursive-exclude openslides_votecollector *.swp
recursive-exclude openslides_votecollector *~
