include AUTHORS
include LICENSE
include README.rst
include requirements_production.txt
recursive-include votecollector *.*
recursive-exclude votecollector *.pyc
recursive-exclude votecollector *.swp
recursive-exclude votecollector *~
