include AUTHORS
include LICENSE
include README.rst
include requirements_production.txt
recursive-include openslides_votecollector *.*
recursive-exclude openslides_votecollector *.pyc
recursive-exclude openslides_votecollector *.swp
recursive-exclude openslides_votecollector *~
