{% load staticfiles %}
{% load i18n %}

<fieldset style="width:285px;margin-top:10px">
    <legend>{% trans 'VoteCollector' %}</legend>
    <button id="votecollector" class="button" type="button" style="display:none">
    </button>
    <span id="votecollector_status">{% trans 'Loading' %}</span>
    <div><a href="{% url config_votecollector %}">{% trans 'VoteCollector config page' %}</a></div>
</fieldset>
<script type="text/javascript" src="{% static 'javascript/votecollect.js' %}"></script>
</fieldset>
