/**
 * CSS for VoteCollector plugin.
 *
 */

/* main navigation icon */
.icon-votecollector {
    background-position: 0;
    background-image: url("../img/glyphicons_046_router.png");
}
.leftmenu ul li.active a span.ico i.icon-votecollector {
    background-image: url("../img/glyphicons_046_router_white.png");
}
#votecollector_button {
    float: left;
    margin-right: 25px;
}
