<div ng-controller="SlideMotionPollCtrl" class="content scrollcontent">

  <style type="text/css">
    #total-result-table {
      font-size: 150%;
      line-height: 40px;
      margin: 0 20px 0 0;
      font-weight: bold;
      width: auto;
    }
    #total-result-table img {
      width: auto;
    }
    #total-result-table td {
      padding: 9px;
    }
    #total-result-table td.bold {
      font-weight: bold;
      text-align: right;
    }
    #total-result-table td.vote {
      min-width: 30px;
    }
    #total-result-table td.percentage {
        font-weight: normal;
        font-size: 70%;
        min-width: 80px;
    }

    #seating-plan table {
        border-collapse: separate;
        border-spacing: 5px;
        border: none;
    }
    #seating-plan table td {
        background-color: #ffffff;
    }
    #seating-plan table td {
        padding: 0;
        font-size: 0.75em;
        min-width: 1em;
        width: 3em;
        height: 3em;
        border: none;
    }
    #seating-plan table td.seat {
        border: 1px solid black;
        line-height: 120%;
        text-align: center;
    }
    #seating-plan table td.seat-red {
        background-color: #ff201c;
    }
    #seating-plan table td.seat-green {
        background-color: #008f2a;
    }
    #seating-plan table td.seat-yellow {
        background-color: #f1d300;
    }
    #seating-plan table td.seat-grey {
        background-color: #999;
    }
  </style>


  <!-- Title -->
  <div id="title">
    <h1>{{ motion.agenda_item.getTitle() || motion.getTitle() }}</h1>
    <h2>
      <translate>Motion</translate> {{ motion.identifier }} |
      <translate translate-comment='ballot of a motion'>Voting result</translate>
    </h2>
  </div>


  <!-- voting results and seating plan -->
  <div ng-if="config('votecollector_live_voting') || poll.has_votes">

    <!-- total votes -->
    <table class="well pull-left" id="total-result-table">
      <!-- yes -->
      <tr>
        <td><img src='/static/img/button-yes.png'>
        <td class="bold">
          {{ poll.yes }}
        <td class="percentage">
          {{ poll.getVote(poll.yes).percentStr }}
          <uib-progressbar value="poll.getVote(poll.yes).percentNumber" type="success"
            ng-class="{ 'progress-striped active': !poll.has_votes }"></uib-progressbar>

      <!-- no -->
      <tr>
        <td><img src='/static/img/button-no.png'>
        <td class="bold">
          {{ poll.no}}
        <td class="percentage">
          {{ poll.getVote(poll.no).percentStr }}
          <uib-progressbar value="poll.getVote(poll.no).percentNumber" type="danger"
            ng-class="{ 'progress-striped active': !poll.has_votes }"></uib-progressbar>

      <!-- abstain -->
      <tr>
        <td><img src='/static/img/button-abstain.png'>
        <td class="bold">
          {{ poll.abstain}}
        <td class="percentage">
          {{ poll.getVote(poll.abstain).percentStr }}
          <uib-progressbar value="poll.getVote(poll.abstain).percentNumber" type="warning"
            ng-class="{ 'progress-striped active': !poll.has_votes }"></uib-progressbar>

      <!-- valid votes -->
      <tr class="total" ng-if="poll.has_votes">
        <td>
        <td class="bold">
          {{ poll.votesvalid }}
        <td>
          {{ poll.getVote(poll.votesvalid).percentStr }}
    </table>

    <!-- seating plan -->
    <div ng-if="config('votecollector_seating_plan')" id="seating-plan">
        <table>
          <tr ng-repeat="row in seatingPlan.rows">
            <td ng-repeat="seat in row" ng-class="seat.css">
              {{ seat.number }}
            </td>
          </tr>
        </table>
    </div>

  </div>

</div>
