/**
 * VoteCollector Plugin CSS.
 *
 * :copyright: 2012-2013 by Oskar Hahn, Emanuel Schütze.
 * :license: GNU GPL, see LICENSE for more details.
 */

/* main navigation icon */
.icon-votecollector {
    background-position: 0;
    background-image: url("../img/glyphicons_046_router.png");
}
.leftmenu ul li.active a span.ico i.icon-votecollector {
    background-image: url("../img/glyphicons_046_router_white.png");
}
