/**
 * VoteCollector Plugin CSS.
 *
 * :copyright: 2012 by Oskar Hahn.
 * :license: GNU GPL, see LICENSE for more details.
 */

a.status_link.active span {
    background-image: url(/static/images/icons/on.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
a.status_link.inactive span {
    background-image: url(/static/images/icons/off.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
