{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/votecollector.css' %}" />
{% endblock %}

{% block title %}{{ block.super }} – {%trans "VoteCollector" %}{% endblock %}

{% block submenu %}
    <h4 class="sectiontitle">{%trans "VoteCollector" %}</h4>
    <ul>
        {% for menu_link in menu_links %}
            <li{% if menu_link.2 %} class="selected"{% endif %}><a href="{{ menu_link.0 }}">{{ menu_link.1 }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
