{% extends "votecollector/base_votecollector.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Keypads" %}</h1>
    <p>
        <form action="{{ request.url }}" name="filter" method="post">{% csrf_token %}
            {% trans "Filter" %}:
            <select class="default-input" name="user" onchange="document.forms['filter'].submit()">
                <option value="0">-- {% trans "User" %} --</option>
                <option value="anonymous" {% if 'anonymous' in sortfilter.user %}selected{% endif %}>{% trans "Anonym" %}</option>
                <option value="personalized" {% if 'personalized' in sortfilter.user %}selected{% endif %}>{% trans "Personalized" %}</option>
            </select>
            <select class="default-input" name="active" onchange="document.forms['filter'].submit()">
                <option value="0">-- {% trans "Active" %} --</option>
                <option value="active" {% if 'active' in sortfilter.active %}selected{% endif %}>{% trans "Active" %}</option>
                <option value="inactive" {% if 'inactive' in sortfilter.active %}selected{% endif %}>{% trans "Inactive" %}</option>
            </select>
        </form>
    </p>
    <table>
        <tr>
            <th><a href="?sort=keypad_id&reverse={% if 'keypad_id' in sortfilter.sort and 'reverse' not in sortfilter %}1{% else %}0{%endif%}">{% trans "Keypad ID" %}</a></th>
            <th><a href="?sort=user&reverse={% if 'user' in sortfilter.sort and 'reverse' not in sortfilter %}1{% else %}0{%endif%}">{%trans "User" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    {% for keypad in keypads %}
        <tr class="{% cycle 'odd' '' %}">
            <td>{{ keypad.keypad_id }}</td>
            <td>{% if keypad.user %}<a href="{{ keypad.user.get_absolute_url }}">{{ keypad.user }}</a>{% else %}{% trans "Anonym" %}{% endif %}</td>
            <td>
                <a href="{% url votecollector_keypad_edit keypad.id %}"><img src="/static/images/icons/edit.png" title="{%trans 'Edit Keypad' %}"></a>
                <a href="{% url votecollector_keypad_delete keypad.id %}"><img src="/static/images/icons/delete.png" title="{%trans 'Delete Keypad' %}"></a>
                <a class="status_link {% if keypad.active %}active{% else %}inactive{% endif %}"
                    href="{% if keypad.active %}{% url votecollector_keypad_deactivate keypad.id %}{% else %}{% url votecollector_keypad_activate keypad.id %}{% endif %}"
                    title="{%trans 'Change status (active/inactive)' %}">
                    <span></span>
                </a>
            </td>
        </tr>
    {% empty %}
            <td colspan="3">{% trans "No Keypads available." %}</td>
        <tr>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
