{% extends "openslides_votecollector/base_votecollector.html" %}

{% load i18n %}
{% load tags %}

{% block header %}
    {% if not 'votecollector_seating_plan'|get_config %}
        <style type="text/css">
            .control-group label[for="id_seat"],
            .control-group select#id_seat {
                display: none;
            }
        </style>
    {% endif %}
{% endblock %}


{% block content %}
    <h1>
       {% if keypad %}
           {% trans "Edit keypad" %}
       {% else %}
           {% trans "New keypad" %}
       {% endif %}
        <small class="pull-right">
            <a href="{% url 'votecollector_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_saveapply.html" %}
        <a href='{% url 'votecollector_overview' %}' class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
