{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% load tags %}

<style type="text/css">
    {% if 'votecollector_seating_plan'|get_config %}
        #content {
            top: 110px;
        }
        #content h1 small {
            display: inline;
        }
    {% endif %}
    .resultbox img {
        width: 50px;
    }
    .resultbox {
        font-size: 150%;
        line-height: 40px;
        margin: 0 20px 0 0;
        font-weight: bold;
    }
    .resultbox td {
        border: none;
    }
    .resultbox hr {
        border-top: 1px solid;
        margin: 5px 0;
    }
    .resultbox .vote, .resultbox .percentage {
        text-align: right;
    }
    .resultbox .vote {
        min-width: 30px;
    }
    .resultbox .progressbar {
        width: 100px;
    }
    .resultbox .percentage {
        font-weight: normal;
        font-size: 70%;
        min-width: 80px;
    }
    .resultbox .total {
        text-align: right;
        font-weight: normal;
        /*font-size: 90%;*/
    }
    .resultbox .progress {
        margin-bottom: 0;
        border: 1px solid #999;
    }
    #seating-plan table {
        border-collapse: separate;
        border-spacing: 5px;
        border: none;
    }
    #seating-plan table td {
        background-color: #ffffff;
    }
    #seating-plan table td {
        padding: 6px 0 6px 0;
        font-size: 0.9em;
        min-width: 27px;
        border: none;
    }
    #seating-plan table td.seat {
        border: 1px solid black;
        line-height: 120%;
        text-align: center;
    }
    #seating-plan table td.seat-red {
        background-color: #ff201c;
    }
    #seating-plan table td.seat-green {
        background-color: #008f2a;
    }
    #seating-plan table td.seat-yellow {
        background-color: #f1d300;
    }
    #seating-plan small {
        color: #999;
        position: absolute;
        right: 20px;
    }
</style>

<h1>
    {{ poll.motion.active_version.title }}
    <small>
        {% trans 'Motion' %} {{ poll.motion.identifier|default:'' }}
        {% if poll.motion.get_active_version.version_number > 1 %} | {% trans 'Version' %} {{ poll.motion.active_version.version_number }}{% endif %}
        {% if poll.poll_number > 1 %}| {{ poll.poll_number|ordinal|safe }} {% trans 'vote' %}{% endif %}
    </small>
</h1>

{% if all_keypad_votes %}  {# electronic voting with keypads #}
    {% if 'votecollector_live_voting'|get_config or poll.has_votes %}
        {% if 'votecollector_seating_plan'|get_config %}
            <table class="well resultbox pull-left">
            <tr>
                <td><img src="{% static 'img/button-yes.png' %}"></td>
                <td class="vote">{{ all_keypad_votes.Y|default:'0' }}</td>
                <td class="percentage">{{ all_keypad_votes_percentage.Y|default:'0' }} %
                    <div class="progress {% if 'votecollector_in_vote'|get_config %}progress-striped active{% endif %}">
                        <div class="bar bar-success" style="width: {{ all_keypad_votes_percentage.Y_progress|default:'0' }}%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'img/button-no.png' %}"></td>
                <td class="vote">{{ all_keypad_votes.N|default:'0' }}</td>
                <td class="percentage">{{ all_keypad_votes_percentage.N|default:'0' }} %
                    <div class="progress {% if 'votecollector_in_vote'|get_config %}progress-striped active{% endif %}">
                        <div class="bar bar-danger" style="width: {{ all_keypad_votes_percentage.N_progress|default:'0' }}%;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'img/button-abstention.png' %}"></td>
                <td class="vote">{{ all_keypad_votes.A|default:'0' }}</td>
                <td class="percentage">{{ all_keypad_votes_percentage.A|default:'0' }} %
                    <div class="progress {% if 'votecollector_in_vote'|get_config %}progress-striped active{% endif %}">
                        <div class="bar bar-warning" style="width: {{ all_keypad_votes_percentage.A_progress|default:'0' }}%;"></div>
                    </div>
                </td>
            </tr>
            <tr class="total">
                <td></td>
                <td>{{ all_keypad_votes.votes_cast|default:'0' }}</td>
                <td class="percentage">{{ all_keypad_votes_percentage.votes_cast|default:'0' }} %</td>
            </tr>
            </table>
            <div id="seating-plan">
                <table>
                    {% for row in seating_plan.rows %}
                        <tr>
                            {% for place in row %}
                                <td class="{{ place.css }}"><span>{% if place.number %}{{ place.number }}{% endif %}</span></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {% if votes_without_seat %}
                    <small>{{ votes_without_seat }} {% trans 'Votes without seat' %}</small>
                {% endif %}
            </div>
        {% else %}
            <table class="well resultbox">
            <tr>
                <td><img src="{% static 'img/button-yes.png' %}"> {% trans 'Yes' %}:</td>
                <td class="vote">{{ all_keypad_votes.Y|default:'0' }}</td>
                <td>
                    <div class="progress {% if 'votecollector_in_vote'|get_config %}progress-striped active{% endif %}">
                        <div class="bar bar-success" style="width: {{ all_keypad_votes_percentage.Y_progress|default:'0' }}%;"></div>
                    </div>
                </td>
                <td class="percentage">{{ all_keypad_votes_percentage.Y|default:'0' }} %</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/button-no.png' %}"> {% trans 'No' %}:</td>
                <td class="vote">{{ all_keypad_votes.N|default:'0' }}</td>
                <td>
                    <div class="progress {% if 'votecollector_in_vote'|get_config %}progress-striped active{% endif %}">
                        <div class="bar bar-danger" style="width: {{ all_keypad_votes_percentage.N_progress|default:'0' }}%;"></div>
                    </div>
                <td class="percentage">{{ all_keypad_votes_percentage.N|default:'0' }} %</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/button-abstention.png' %}"> {% trans 'Abstention' %}:</td>
                <td class="vote">{{ all_keypad_votes.A|default:'0' }}</td>
                <td>
                    <div class="progress {% if 'votecollector_in_vote'|get_config %}progress-striped active{% endif %}">
                        <div class="bar bar-warning" style="width: {{ all_keypad_votes_percentage.A_progress|default:'0' }}%;"></div>
                    </div>
                </td>
                <td class="percentage">{{ all_keypad_votes_percentage.A|default:'0' }} %</td>
            </tr>
            <tr class="total">
                <td>{% trans 'Valid votes' %}:</td>
                <td>{{ all_keypad_votes.votes_cast|default:'0' }}</td>
                <td class="progressbar"></td>
                <td class="percentage">{{ all_keypad_votes_percentage.votes_cast|default:'0' }} %</td>
            </tr>
            </table>
        {% endif %}
    {% endif %}
{% elif poll.has_votes %}  {# manual voting without keypads #}
    {% with poll.get_options.0 as option %}
        <table class="well resultbox">
            <tr>
                <td><img src="{% static 'img/button-yes.png' %}"> {% trans 'Yes' %}:</td>
                <td class="right">{{ option.Yes }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/button-no.png' %}"> {% trans 'No' %}:</td>
                <td class="right">{{ option.No }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/button-abstention.png' %}"> {% trans 'Abstention' %}:</td>
                <td class="right">{{ option.Abstain }}</td>
            </tr>
            {% if poll.votesvalid != None %}
                <tr class="total">
                    <td>{% trans 'Valid votes' %}:</td>
                    <td>{{ poll.print_votesvalid }}</td>
                </tr>
            {% endif %}
            {% if poll.votesinvalid != None %}
                <tr class="total">
                    <td>{% trans 'Invalid votes' %}:</td>
                    <td>{{ poll.print_votesinvalid }}</td>
                </tr>
            {% endif %}
            {% if poll.votescast != None %}
                <tr class="total">
                    <td>{% trans 'Votes cast' %}:</td>
                    <td>{{ poll.print_votescast }}</td>
                </tr>
            {% endif %}
        </table>
    {% endwith %}
{% endif %}
