{% extends 'motion/motion_detail.html' %}

{% load i18n %}
{% load openslides_votecollector_template_tags %}

{% block meta_box_poll_extras %}
    {% if poll|detail_button %}
        <p>
            <a class="btn btn-mini btn-success"
                    href="{% url 'motionpoll_detail' motion.pk poll.poll_number %}">
                {% trans 'Single votes' %}
            </a>
            {% if poll|make_anonymous_button %}
                <a class="btn btn-mini btn-danger"
                        href="{% url 'votecollector_make_anonymous' motion.pk poll.poll_number %}">
                    <i class="icon-warning-sign icon-white"></i> {% trans 'Make anonymous' %}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
