<style type="text/css">
    #overlay_votecollector_message_inner {
        border-radius: 0 0 0.2em 0.2em;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        position: fixed;
        padding: 0 0 5px 0;
        margin: 0;
        top: 0;
        right: 40px;
        left: 75px;
        width: calc(100% - 115px);
        min-height: 100px;
        line-height: 160%;
        opacity: 0.95;
        z-index: 100;
    }
    #overlay_votecollector_message_inner img {
        width: 50px;
    }
</style>
<div id="overlay_votecollector_message_inner" class="well">
    {{ message|safe }}
</div>
